<include file="Public/header" title="富贵鸟 - 免费的应用托管平台|App应用众测分发" />
    <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
           <li class="active"><a href="{:U('Login/index')}">首页</a></li>
            <li><a href="{:U('Index/index')}">发布应用</a></li>
            <li><a href="{:U('Index/listinfo')}">应用管理</a></li>
        </ul>
    </div> <!--/navbar-collapse--></div>
</div>
</header>
<!--=== Breadcrumbs ===-->


<if condition="$Think.session.homeId eq '' ">
<link rel="stylesheet" href="__STATIC__/css/fashion.css">
    <div class="jumbotron pading-0"> <img src="__STATIC__/images/banner_macbook.png" class="img-responsive right-img animated fadeInDown">
  <div class="container animated fadeInLeft">
<div class="test-hight">
  <span class="title">内测应用，仅需两步</span>
      <ol class="text-left des">
        <li class="text-left">将应用上传到网站，生成安装链接和二维码</li>
        <li class="text-left">用户在手机上打开安装链接，或扫码二维码，即可开始安装</li>
      </ol>
    <div class="text-left create"> <a class="btnp create_btn" href="{:U('login/denglu')}" role="button"><i class="fa fa-cloud-upload"></i>上传应用</a> </div>
</div>
 </div>
  <div class="phone-img" ><img src="__STATIC__/images/banner_iphone.png" class="img-responsive animated fadeInLeft"></div>
  <div class="mouse-img"><img src="__STATIC__/images/banner_mouse.png" class="img-responsive animated fadeInLeft"></div>
</div>

<else />

<div class="row-fluid breadcrumbs margin-bottom-20">
    <div class="container">
                <h1 class="pull-left">发布应用</h1>
        <ul class="pull-right breadcrumb">
            <li>发布应用，仅需两步</li>
        </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!-- Purchase Block -->
<div class="container content recent">  

    <div class="row tag-box tag-box-v5">
        <div class="span12">
            <div id="bootstrapped-fine-uploader"></div>
                        <!-- Fine Uploader template
            ====================================================================== -->
          <script type="text/template" id="qq-template-bootstrap">
            <div class="qq-uploader-selector qq-uploader span12">
                <div class="qq-upload-drop-area-selector qq-upload-drop-area span12" qq-hide-dropzone>
                    <span>拖拽文件到这里</span>
                </div>

                <span class="qq-drop-processing-selector qq-drop-processing">
                    <span>处理中...</span>
                    <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                </span>

                <ul class="qq-upload-list-selector qq-upload-list">
                    <li>
                        <div style="margin-bottom:20px;">应用正在上传中，请不要关闭浏览器</div>
                        <div class="qq-progress-bar-container-selector progress progress-striped active">
                            <div class="qq-progress-bar-selector progress-bar progress-bar-warning" role="progressbar"></div>
                        </div>
                        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                        <span class="qq-upload-file-selector qq-upload-file"></span>
                        <span class="qq-upload-size-selector qq-upload-size"></span>
                        <br />
                        <br />
                        <a class="qq-upload-cancel-selector btn-u btn-u-default" href="#">取消上传</a>
                        <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                        <div id="retry" style="display:none; margin-top:20px;">
                            <a class="btn-u btn-u-default" href="javascript:void(0);" onclick="javascript:retry();">重新上传</a>
                        </div>
                    </li>
                </ul>

                <div class="col-md-12" style="margin-top: -30px;">
                    <div class="qq-upload-button-selector" style="width: auto;">
                        <p><button class="btn-u btn-u-lg">立刻上传</button></p>
                        <div style="margin-top:20px;">
                        点击按钮选择应用的安装包，或拖拽文件到此区域<br />（支持.ipa或.apk文件，单个文件最大支持500G）                        </<div>
                    </div>
                </div>
                <!--
                
                -->
            </div>
            </script>
      </div>
    </div>

<!-- End Purchase Block -->
</if> 
<include file="Public/footer" />