<include file="Public/header" title="富贵鸟分发平台上传接口七牛配置教程" />
    <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
           <li class="active"><a href="{:U('Login/index')}">首页</a></li>
            <li><a href="{:U('Index/index')}">发布应用</a></li>
            <li><a href="{:U('Index/listinfo')}">应用管理</a></li>
        </ul>
    </div> <!--/navbar-collapse--></div>
</div>
</header>
<!--=== Breadcrumbs ===-->
<meta name="author" content="富贵鸟内测平台 pgyer  企业签名 iOS Android 安卓苹果应用测试托管 免费上传内测分发安装 开放SDK CDN">
<meta name="keywords" content="富贵鸟 为开发者提供简洁迅速的内测程序分发服务">
<meta name="description" content="富贵鸟 - 免费的应用托管平台|App应用众测分发">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<br><br><br>
<div class="title"><strong><p><font size="6">富贵鸟分发平台上传接口七牛配置教程</font></p></strong></span></div>
<br>
<a href="https://portal.qiniu.com/signup/choice" target="_blank">点击注册七牛账号</a> &nbsp &nbsp<a href="http://i8cv.com/images/qiniu/jiaocheng.mp4" target="_blank"><span style="color:red">【接口配置视频】</a></span>
                                                </div>
<div class="title"><strong><p><font size="6">【图1】</font></p></strong></span></div>
<br>
<img src="http://i8cv.com/images/qiniu/1.jpg" border="0" width="1030" height="534"><br>
<div class="title"><strong><p><font size="6">【图2】</font></p></strong></span></div>
<br><br>
<img src="http://i8cv.com/images/qiniu/2.jpg" border="0" width="1030" height="534"><br>
<div class="title"><strong><p><font size="6">【图3】</font></p></strong></span></div>
<br><br>
<img src="http://i8cv.com/images/qiniu/3.jpg" border="0" width="1030" height="534"><br>
<div class="title"><strong><p><font size="6">【图4】</font></p></strong></span></div>
<br><br>
<img src="http://i8cv.com/images/qiniu/4.jpg" border="0" width="1030" height="534"><br>
<div class="title"><strong><p><font size="6">【图5】</font></p></strong></span></div>
<br><br>
<img src="http://i8cv.com/images/qiniu/5.jpg" border="0" width="1030" height="534"><br>
<div class="title"><strong><p><font size="6">【图6】</font></p></strong></span></div>
<br><br>
<img src="http://i8cv.com/images/qiniu/6.jpg" border="0" width="1030" height="534"><br>
    </script>
<body style="text-align:center;">
<div style="margin:0px auto"></div>
<include file="Public/footer" />
</body></html>