<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>哎呦，遇到错误了</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="iOS Android 安卓苹果应用测试托管 免费上传内测分发安装">
<meta name="description" content=" 为开发者提供简洁迅速的内测程序分发服务">
   <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__STATIC__/css/page_404_error4.css" />

</head> 

<body>

    <!--=== Error v4 ===-->    
    <div class="container error-v4">
        <div class="row">
            <div class="col-lg-12  col-xs-12 col-md-12 col-sm-12 text-center">
               
                    <p class="img-responsive center-block  animated fadeInDown">
                        <img src="__STATIC__/images/404_pic.png"/></p>
                    <p class="regret">抱歉，页面不见了~</p>
                    <h3 class="sorry">联系作者吧</h3>

                    <a class="btnp create_btn center-block" role="button"  href="/">Take me home | 返回首页</a>
            </div>
        </div>
    </div>
    <!--End Error Block-->

    <!--=== Sticky Footer ===-->
    <div class="container sticky-footer">
        <p class="copyright-space">
            2015~2017 &copy;  All Rights Reserved.
        </p>  
    </div>
    <!--=== End Sticky Footer ===-->



</body>
</html> 
