<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8e151e236cc74f3d629896dcafaf6c32";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-8  col-xs-12 col-md-6 col-sm-6 text-left">
				页面由 <a href="http://i8cv.com">富贵鸟</a> 提供
            </div>
        </div><!--/row-fluid-->
    </div><!--/container-->
</div>
<span style="display:none">
<script src="https://s4.cnzz.com/z_stat.php?id=1261168128&web_id=1261168128" language="JavaScript"></script>
</span>