<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8e151e236cc74f3d629896dcafaf6c32";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!--=== Copyright ===-->
<!--<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-8  col-xs-12 col-md-6 col-sm-6 text-left">
				页面由 <a href="http://i8cv.com">富贵鸟</a> 提供
            </div>
        </div>&lt;!&ndash;/row-fluid&ndash;&gt;
    </div>&lt;!&ndash;/container&ndash;&gt;
</div>-->
<style type="text/css">
body {background-image:url(text.txt);/*for IE6*/background-attachment:fixed;}
#bottomNav { background-color:#55BE93;color:#FFF; z-index:55BE93;center:0;position:fixed;bottom:0;text-align:center;width:100%;border:1px solid #ffffff; _position:absolute; /* for IE6 */ 
_top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); /* for IE6 */ overflow:visible; } 
#bottomNav a { color:#FFF; }
</style>

<div id="bottomNav">VIP免广告：<a href="####">发平台源码</a>
<!--{loop $guidearr $value}-->
>> <a href="####">分发平台源码</a>
<!--{/loop}-->
</div>
<!--{/loop}-->
</div>
<span style="display:none">
<script src="https://s4.cnzz.com/z_stat.php?id=1261168128&web_id=1261168128" language="JavaScript"></script>
</span>