<!DOCTYPE html>
<html>
<head>
    <title>[title]</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__STATIC__/css/style.css" />
    <link href="__STATIC__/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__STATIC__/css/css.css" />

</head>
<!--[if lt IE 10]>
<div class="browser_notice">
您的浏览器版本较低，无法正确显示网站中的页面和功能，建议您使用 Chrome、Safari 或升级到 Internet Explorer 10 以上版本的浏览器。</div>
<![endif]-->
<body>
