<ul class="nav navbar-nav side-nav">
    <li class="dropdown">
        <a href="{:U('post/add')}"><i class="fa fa-reorder"></i> 提交udid</a>
    </li>
    <li class="dropdown">
        <a href="{:U('post/index',array('status'=>1))}"><i class="fa fa-edit"></i> 等待制作</a>
    </li>
    <li class="dropdown">
        <a href="{:U('post/index',array('status'=>3))}"><i class="fa fa-file-text-o"></i> 制作记录</a>
    </li>
    <li class="dropdown">
        <a href="{:U('service/index')}"><i class="fa fa-check"></i> 维护窗口</a>
    </li> 
    <li class="dropdown">
        <a href="{:U('accredit/index')}"><i class="fa fa-tasks"></i> 授权中心</a>
    </li> 
</ul>