<include file="Public/header" title="应用列表" />
<div id="page-wrapper">
    
    <div class="row">
        <div class="col-md-6">
            <a href="{:U('list/index')}" class="btn btn-default">应用列表</a>          
        </div>
        <div class="col-md-6">
            <form action="{:U('list/index')}" method="post">
                <div class="form-group input-group">
                    <input type="text" class="form-control" name="key" placeholder="输入应用名称搜索">
                    <span class="input-group-btn">
                        <input class="btn btn-default" type="submit" value="提交">
                    </span>
                </div>
            </form>
        </div>
    </div>

<form action="{:U('list/alldel')}" method="post">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
            
                <th><input id="checkAll" type="checkbox" />ID</th>
                <th>发布人</th>
                <th>网址</th>
                <th>昵称</th>
                <th>.plist地址</th>
                <th>时间</th>
                <th>密码</th>
                <th>操作</th> 
            </tr>
        </thead>
        <tbody>
        <foreach name="model" item="v">
            <tr>
                <td><input type="checkbox" name="hobby[]" value="{$v.id}" />{$v.id}</td>
                <td>{$v.fid|getName}</td>
                <td>
                    <input type="text" value="{$v.web}" name="web{$v.id}" readonly>
                    <a href="{$v.web}" target="_blank">点击链接</a>
                </td>
                <td><input type="text" value="{$v.nickname}" name="nickname{$v.id}"></td>
                <td><input type="text" value="{$v.plist}" name="plist{$v.id}"></td>
                <td>{$v.create_time|date="Y/m/d",###}</td>
                <td>{$v.aqpassword}</td>
                <td>
            <if condition="$status eq 3">
                <a href="{:U('list/huany',array('id'=>$v['id'],'status'=>$v['status']))}">还原</a>
            <else />
                <a href="{:U('list/update',array('id'=>$v['id']))}">编辑</a>
                | <a href="{:U('list/delete',array('id'=>$v['id']))}" style="color:red;" onclick="javascript:return del('您真的确定要删除吗？\n\n删除后将不能恢复!');">删除</a>
            </if>
                </td>
            </tr>
        </foreach>
        </tbody>
    </table>
        <input type='hidden' name="status" value="0">
        <input type="submit" value="批量删除" class="btn btn-success">
    <div class="clearfix"></div>
    {$page}
   
</div>
<include file="Public/footer" />